@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "KhumaloCraft...Who are we?";
    
    
}

<div class ="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class =" textContainer">
        <style>
            body {
                background-color: lightskyblue;
            }
        </style>
        <img src="~/image/260px-clay_pots_sm.jpg" width="500px" height="500px" />
        <pre>
            We are a specialized group in e-commerce. We have the best staff and leading thinkers to propel KhumaloCraft Emporium to great heights.
            We have the best handcrafted products on any market.
            At KhumaloCraft, we are enthusiastic about bringing discriminating consumers who value the beauty, 
            excellence, and individuality of handcrafted items together with craftsmen and crafters. 
            Our platform is a celebration of creativity, craftsmanship, and cultural heritage rather than merely an internet retailer.
            KhumaloCraft was founded with the intention of assisting gifted artists worldwide and out of a passion for artisanal crafting.
            Every handcrafted object, in our opinion, has a backstory, a history, and a personal touch that can never be replicated by mass-produced items.
            Discover our carefully chosen selection of handcrafted items, which includes gorgeous home décor, textiles, pottery, jewelry, and accessories,
            among other items. 
            Every item on our website is meticulously chosen for its creative worth, workmanship, and authenticity. 
            This guarantees that every purchase you make will be a priceless work of art.
            Our product is top quality and have the best prices.
            Founded by Jason Khumalo.
        </pre>
    </div>
</div>

