@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Details";
}<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-color: lightskyblue;
    }
</style>

<p>Phone Number     :   098 764 8765
</p>
<p>
    Email           :   KhumaloCraft@gmail.com
</p>
<p>
    Physical Address :   18 Silicon Valley
</p>
<p>
    Please feel free to contact us about any product query
</p>
<p>
    We are here to assist any with any probelms that you face.
</p>
