@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PRODUCTS";
}<h1>@ViewData["Title"]</h1>

<p>KhumaloCraft Emporium specializes in the art of handcrafting objects.</p>
<p>Here are some products for sale</p>
<style>
    body {
        background-color: lightskyblue;
    }
</style>
<div class="galleryStyle">
    <div class="galleryGrid">
        <div class=" photoContainer">
            <pre>Basket                            Bowl                             Basket                           Basket                           Basket</pre>
            <img src="~/image/img_6191.webp" width=" 250px" height="250px" /> 
            <img src="~/image/1624292307922.jpg" width=" 250px" height="250px" />
            <img src="~/image/classicalhandmade-investinternational-6.jpg" width=" 250px" height="250px" />
            <img src="~/image/handicrafted-products-500x500.webp" width=" 250px" height="250px" />
            <img src="~/image/images-5.jpg" width=" 250px" height="250px" />
            
            <div class=" textContainer">
                <pre>Price: R29.99  Size: S M L        Price: R59.99 Size: S M L        Price: R39.99 Size: S M L        Price: R89.99 Size: S M L        Price: 359.99 Size: S M L</pre>
            </div>
        </div>


        <div class="photoContainer">

            <pre>Basket                            Bowl                             Basket                           Basket                           Basket</pre>
            <img src="~/image/handicrafted-products-500x500.webp" width=" 250px" height="250px" />
            <img src="~/image/el-021-361_a_1800x1800_1_400x400.webp" width=" 250px" height="250px" />
            <img src="~/image/istockphoto-1309646840-612x612.jpg" width=" 250px" height="250px" />
            <img src="~/image/istockphoto-1405315769-612x612.jpg" width=" 250px" height="250px" />
            <img src="~/image/kor_kata_shoulder_bag_480x480.webp" width=" 250px" height="250px" />
            <div class=" textContainer">
                <pre>Price: R29.99  Size: S M L        Price: R59.99 Size: S M L        Price: R39.99 Size: S M L        Price: R89.99 Size: S M L        Price: 359.99 Size: S M L</pre>
            </div>
        </div>
        <div class="photoContainer">

            <pre>Basket                            Bowl                             Basket                           Basket                           Basket</pre>
            <img src="~/image/clay_utensils_480x480.webp" width=" 250px" height="250px" />
            <img src="~/image/istockphoto-1199005323-612x612.jpg" width=" 250px" height="250px" />
            <img src="~/image/vjj97_512.jpg" width=" 250px" height="250px" />
            <img src="~/image/114892355-various-ceramic-products-from-clay-comfortable-and-functional-with-a-different-shape-of-brown-clay.jpg" width=" 250px" height="250px" />
            <img src="~/image/260px-clay_pots_sm.jpg" width=" 250px" height="250px" />
            <div class=" textContainer">
                <pre>Price: R29.99  Size: S M L        Price: R59.99 Size: S M L        Price: R39.99 Size: S M L        Price: R89.99 Size: S M L        Price: 359.99 Size: S M L</pre>
            </div>
        </div>

    </div>
</div>
    


